page-marketplace {
  .scroll-content {
    padding: 8px !important;
  }

  .grid {
    padding: 0px;
  }

  .card {
    box-shadow: none !important;
    width: 100% !important;
    margin: 0px !important;
  }
}
